.linkables > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}
.linkables > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color);
}
.linkables > ul > li img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.linkables .linkables-linkable-body {
  margin: 16px;
}
.linkables .linkables-linkable-body > *:first-child {
  margin-top: 0;
}
.linkables .linkables-linkable-image {
  line-height: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
}
.linkables .linkables-linkable-image .linkables-linkable-url {
  line-height: 1.5em;
  padding: 1em;
}